body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0099e5;
}



@media  (min-width:320px) and (max-width:480px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border: 5px solid black;
        border-radius: 5px;
    }

    img {
        width: 46px;        
    }
}

@media  (min-width:480px) and (max-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 66px);
        grid-template-rows: repeat(4, 100px);
        border: 5px solid black;
        border-radius: 5px;
    }

    img {
        width: 66px;
    }
}

@media (min-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0;
        border: 5px solid black;
        border-radius: 5px;
    }

    img {
        width: 99px;
    }
}

@media screen (min-width:1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border: 5px solid black;
        border-radius: 5px;
    }

    img {
        width: 132px;
    }
}

