body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0099e5;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

